<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<style>
  div.padding {
    padding-top: 2cm;
    padding-left: 2cm;
}
</style>

{% if user.is_authenticated %}
<div class=padding>
<p class = padding>Hi! This site has various infromation about {{ user.first_name }}.</p>

  <p> <strong>Name:</strong>  {{ user.first_name }} {{ user.last_name }}</p>
  <p> <strong>E-mail:</strong> {{ user.email }}</p>
  <p> <strong>Contact Number:</strong> {{ user.contact_no }}</p>
  
  {% if user.image %}
    <img src = "{{ user.image.url }}" alt = " No image available" width ="240" >
  {% endif %}

</div>
{% else %}
  <p>You are not logged in</p>
{% endif %}
{% endblock %}