<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
    table{
        width:60%;
    }
    table, th, td {
        border: 1px solid white;
        border-collapse: collapse;
    }
    th {
        width: 20%;
        text-align: left;
    }
</style>

{% if user.is_authenticated %}
  <p>Hi! This site has various infromation about {{ user.first_name }}.</p>

  <!-- <h2>Personal Information</h2> -->
<table>
    <tr>
      <th >Firstname</th>
      <td>{{ user.first_name }}</td>
    </tr>
    <tr>
        <th>Lastname</th>
        <td>{{ user.last_name }}</td>
      </tr>
      <tr>
        <th>E-mail</th>
        <td>{{ user.email }}</td>
      </tr>
      <tr>
        <th>Contact Number</th>
        <td>{{ user.contact_no }}</td>
      </tr>
  </table>

<!--   <p></p>
  <p><a href="{% url 'logout' %}">logout</a></p> -->
{% else %}
  <p>You are not logged in</p>
{% endif %}
{% endblock %}